// Specific CSS for footer
span.nbh{
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.nbo{
  width: 1.5rem;
  height: 1.5rem;
}
