// Specific CSS for navbar
nav#mobile-menu {
  a.text-base.font-medium {
    align-items: center;
    text-decoration-line: none;
  }
}

.link_navbar {
  @apply text-base font-medium;
  align-items: center;
  text-decoration-line: none;
  color: var(--color-gray-300) !important;
  &:hover {
    background-color: color-mix(in oklab, var(--color-white) 5%, transparent);
    color: var(--color-white) !important;
  }
}
