<section>
  <div class="hero-wrap ftco-degree-bg" style="background-image: url(<%= asset_path "images.jpeg" %>);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="flex flex-wrap max-md:h-[250px] h-[350px] items-center justify-center">
        <div class="w-full lg:w-8/12 ftco-animate">
          <div class="text w-full text-center text-white md:mb-5 md:pb-5">
            <header><h1 class="mb-4">Fast &amp; Easy Way To Rent A Car</h1></header>
            <p style="font-size: 18px;">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts</p>
            <a href="https://vimeo.com/45830194" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="ion-ios-play"></span>
              </div>
              <div class="heading-title ml-5">
                <span>Easy steps for renting a car</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
