<!-- ===== Hero Section Start ===== -->
<section class="relative z-10 overflow-hidden pb-10 pt-25 md:pt-20 lg:pb-15 bg-orange-50 md:bg-gradient-to-r md:from-orange-50 md:from-60% md:to-blue-950 md:to-40%" >
  <div class="container">
    <div class="grid md:grid-cols-5 gap-4 max-md:h-[250px] h-[350px] items-center justify-center">
      <div class="md:col-span-3 max-md:mb-5">
        <div class="text w-full text-center md:mb-5 md:pb-5">
          <header><h1 class="mb-4 text-blue-950! font-size text-lg">Trouver le qamis parfait pour vous</h1></header>
          <p style="font-size: 18px;" class="text-black mb-4 pb-4">Él&#233gance et tradition : explorez notre collection de qamis pour homme de qualit&#233 sup&#233rieure.</p>
          <a href="https://vimeo.com/45830194" class="flex items-center mt-4 justify-center no-underline!">
            <div class="icon flex items-center justify-center">
              <span class="ion-ios-play"></span>
            </div>
            <%= link_to products_path, class:"bg-amber-300 ml-5 rounded-sm px-2 py-3 text-white no-underline!" do %>
              <span class="hover:text-white">Voir la Boutique</span>
            <% end %>
          </a>
        </div>
      </div>
      <div class="hidden md:block md:col-span-2 bg-blue-950">
        <div class="h-auto rounded-lg overflow-hidden m-auto">
          <%= image_tag("Qamis_sultan.png", alt:"Qamis Image", class:"w-full h-full object-cover rounded-lg") %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ===== Hero Section End ===== -->

<section>
  <div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="flex justify-center text-2xl font-bold tracking-tight text-gray-900">Aperçu des qamis</h2>

      <%= render "products/list_product" %>

      </div>
      <div class="relative flex justify-center lg:max-2xl:px-2 mt-2">
        <%= link_to "Voir plus de qamis",products_path, class:"no-underline! text-gray-700! rounded-sm py-2 px-3 bg-amber-300!" %>
      </div>

    </div>
  </div>
</section>
